<div class="contactContainer">
    <br>
    <div class="container titleContactDiv bg-dark">
        <h4 class="center">Nos ubicamos en City Center zona esmeralda</h4>
    </div>
    <br>
    <div id="container">
        <div class="center">
            <div class="col">
            </div>
            <div class="col">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15039.316658814376!2d-99.2878998!3d19.5489466!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5f2c9f37f1c0cca2!2sCity%20Center%20Zona%20Esmeralda!5e0!3m2!1ses-419!2smx!4v1587747157099!5m2!1ses-419!2smx" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0" class="cityMap"></iframe>
            </div>
            <div class="col"></div>
        </div>
        <br>
        <div>
            <div class="col"></div>
            <div class="col">
                <h5 class="center phone">Llámanos: <br> <span><a href="tel:+525534419060">55-34-41-90-60</a></span></h5>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <br>
    <div>
        <div class="container titleContactDiv bg-dark" style="width: 50%;">
            <h4 class="center">Agenda tu cita con nosotros</h4>
            <p class="center"> 
            </p>
        </div>
        <br>
        <div class="center">
            <h4>Hazlo vía WhatsApp</h4>
            <br>
            <a href="https://api.whatsapp.com/send?phone=525534419060"><i class="fab fa-whatsapp-square fa-w-14 fa-7x" style="color: lime;"></i></a>
        </div>
        <br>
        <div class="center"><h4>O escoge una fecha en nuestro calendario</h4></div>
        <!-- Principio del widget integrado de Calendly -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/alecvipa/cita-daniel-correa-studio"
            style="min-width:320px;height:630px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
        <!-- Final del widget integrado de Calendly -->
    </div>
</div>