<div class="bodi">
    <div class="bg-pres">
        {{!-- <img src="/assets/images/christoffer-engstrom.jpg" alt="barber"> --}}

    </div>
    <div style="background-color: white; text-align: right;">
        <p class="credits">Photo by Jonathan Weiss on Unsplash</p>
    </div>
    <br>
    <div class="inicioTitles" >
        <h2>
            Profesionales de la belleza que te conocen y te hacen sentir bien 
        </h2>
        <br>
        <h4>Respaldados por la firma de Daniel Correa</h4>
        <br>
        <a class="btn btn-dark" href="/contacto" role="button">Haz tu cita</a>
    </div>
</div>