<div class="nosotrosContainer">
    <div class="nosotrosbackground">
    </div>
    <div style="background-color: white; text-align: right;">
        <p class="credits">Photo by Aw Creative on Unsplash</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title underlined">Misión</h5>
                        <p class="card-text">Brindamos un servicio de calidad, con manos expertas y con los mejores
                            productos para el cuidado de la belleza. Esto lo logramos capacitando a nuestro talento,
                            mejorando continuamente nuestro servicio y generando confianza con nuestra comunidad. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title underlined">Visión</h5>
                        <p class="card-text">Nuestro objetivo es ser la mejor opción para el cliente, respaldados por
                            nuestro excepcional equipo, nuestra larga trayectoria y la firma de <span
                                style="font-weight: bolder; font-size: 12pt">Daniel Correa.</span> También buscamos ser
                            la firma de belleza más innovadora, cuidando a nuestros clientes dentro de nuestro
                            establecimiento y afuera, en su vida cotidiana.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row productosTitle">
                <div class="col"></div>
                <div class="col">
                    <h4 class="center underlined">Nuestros servicios</h4>
                </div>
                <div class="col"></div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="dyeHair"></div>
                    <div class="center"><h5>Colorimetría y tratamientos</h5></div>
                </div>
                <div class="col">
                    <div class="hairDressing"></div>
                    <div class="center"><h5>Cortes de cabello, alto peinado y cambios de look</h5></div>
                </div>
            </div>

        </div>
        <br>
        <div class="container">
            <div class="row productosTitle">
                <div class="col"></div>
                <div class="col">
                    <h4 class="center underlined">Nuestros productos</h4>
                </div>
                <div class="col"></div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="liquidCrew"></div>
                    <div class="center"><h5>Spray, fragancias y esenciales</h5></div>

                </div>
                <div class="col">
                    <div class="cream-crew"></div>
                    <div class="center"><h5>Cremas y ceras moldeadoras de cabello</h5></div>
                </div>
            </div>

        </div>
    </div>